.first-color {
  background: #42b883;
}

.second-color {
  background: #347474;
}

.third-color {
  background: #35495e;
}

.fourth-color {
  background: #ff7e67;
}

-----

.first-color {
  background: #e4f1fe;
}

.second-color {
  background: #8dc6ff;
}

.third-color {
  background: #22313f;
}

.fourth-color {
  background: #34495e;
}

-------
.first-color {
  background: #222831;
}

.second-color {
  background: #2d4059;
}

.third-color {
  background: #ff5722;
}

.fourth-color {
  background: #eeeeee;
}

--------
.first-color {
  background: #005689;
}

.second-color {
  background: #007cb9;
}

.third-color {
  background: #d5eeff;
}

.fourth-color {
  background: #ff895d;
}
-----
.first-color {
  background: #90f6d7;
}

.second-color {
  background: #35bcbf;
}

.third-color {
  background: #41506b;
}

.fourth-color {
  background: #263849;
} 

------
.first-color {
  background: #247291;
}

.second-color {
  background: #f8da5b;
}

.third-color {
  background: #eef2e2;
}

.fourth-color {
  background: #f5f9ee;
}

------
.first-color {
  background: #0c005a;
}

.second-color {
  background: #bc2525;
}

.third-color {
  background: #ff0000;
}

.fourth-color {
  background: #eaeaea;
}

------
.first-color {
  background: #edf7fa;
}

.second-color {
  background: #5f6caf;
}

.third-color {
  background: #ffb677;
}

.fourth-color {
  background: #ff8364;
}
